.fa-icon {
  margin: auto auto;
  font-size: 30px;
  color: gray;
}

.img-profile {
  border-color: black !important;
  border-radius: 50% !important;
  width: 45px;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
  right: 10px !important;
}

#logo-home {
  background: url("../../../assets/img/landing-page/AhíTeVoy-logo1 (1).png");
  width: 55px;
  height: 55px;
  background-size: cover;
}

.input-icon {
  font-size: 20px;
  position: absolute;
  left: auto;
  padding-left: 10px;
  color: gray;
}

.input-padding {
  padding-left: 35px;
  border-radius: 15px;
}

.f-perfil {
  background-size: auto;
  border-radius: 50%;
  margin: 0;
}

.n {
  background-color: #F7F7FF !important;
}
