.bg-light {
  background-color: #F7F7FF !important;
}

.btn-primary {
  background-color: #003049 !important;
  border: 1px solid #003049 !important
}

.btn-danger {
  background-color: #D62828 !important;
  border: 1px solid #D62828 !important
}

.btn-warning {
  background-color: #F77F00;
  border: 1px solid #F77F00 !important
}

.boton-pay {
  background-color: #FCBF49;
  border: 1px solid #FCBF49 !important;
}

.cats {
  background-color: #9DD9D2;
  cursor: pointer;
}

.cats-detail {
  background-color: #9DD9D2;
}

.emps {
  background-color: white;
}

.title-empresa, .title-producto {
  cursor: pointer;
}

.plus-minus {
  color: #f5f6f7;
}

.box-img-detail {
  width: 250px;
  padding: 0;
}

.picDetails {
  border-radius: 20px !important;
}

.img-profile {
  border-color: black !important;
  border-radius: 50% !important;
  width: 45px !important;
  height: 45px !important;
  margin-top: auto;
  margin-bottom: auto;
  right: 10px !important;
}

.f-perfil {
  background-size: auto;
  border-radius: 50%;
  margin: 0;
}

.text-color {
  color: #003049;
  font-size: 1.1rem;
}

@media all and (min-width: 100px) and (max-width: 700px) {
  .n-mobile {
    display: block;
  }

  .n-desktop {
    display: none;
  }

  .img-profile {
    border-color: black !important;
    border-radius: 50% !important;
    width: 35px !important;
    height: 35px !important;
    margin-top: auto;
    margin-bottom: auto;
    right: 10px !important;
  }

  .mobile {
    padding-left: 0;
    padding-right: 0;
  }

  .button-mobile {
    font-size: .7rem;
    padding: 5px;
  }

  .text-color {
    color: #003049;
    font-size: .7rem;
  }

  .f-perfil {
    width: 135% !important;
  }

  .f-imagen {
    width: 100% !important;
  }

  .box-img-detail {
    width: 150px !important;
  }

  .h-detail{
    font-size: .95rem;
    color: #003049;
  }

  .p-detail {
    font-size: .75rem;
    color: #003049;
  }

  .addCart {
    display: none !important;
  }

}

@media all and (min-width: 701px) and (max-width: 1500px) {
  .n-mobile {
    display: none;
  }

  .n-desktop {
    display: block;
  }

  .h-detail {
    font-size: 1.25rem;
    color: #003049;
  }

  .p-detail {
    font-size: 1rem;
    color: #003049;
  }

  .addCart {
    display: flexbox !important;
  }

}
