body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans, sans-serif;
}

.menu-header a {
  margin-left: 80px;
  text-decoration: none;
  color: black;
}

span button{
  margin-right: auto !important;
}

.hover-button-login {
  color: #F7F7FF !important;
  background-color: #003049 !important;
  border-color: #F7F7FF !important;
}

.hover-button-login:hover {
  color: #003049 !important;
  background-color: #F7F7FF !important;
  border-color: #003049 !important;
}

/*#r-modal {
  width: 50vw !important;
  margin: 0 !important;
}*/

.bg-light{
  background-color: #F7F7FF !important;
}

#inicio {
  display: inline-block;
  width: 100%;
  padding: 25px 80px;
  position: relative;
}

.first-text-lp {
  margin-top: 0;
}

.title {
  color: #003049 !important;
  margin-top: 20vh !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 15vh !important;
  text-align: center;
}

.subtitle {
  color: #D62828 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center;
}

fa-icon {
  margin: 15px auto;
  font-size: 50px;
  color: #003049;
}

.error{
  padding: 5px;
  margin:5px;
  margin-top: 0px;
  font-size: 1rem;
  border-radius: 5px;
  color: red;
}

.input-error{
    border: 2px solid red;
}

.card {
  background-color: #EAE2B7;
  border-radius: 20px;
  width: 300px;
  height: 270px;
}

.text-card {
  color: #003049;
  text-align: center;
  font-size: 1.15rem;
}

.h-card {
  color: #003049;
  text-align: center;
  font-size: 1.5rem;
}

section img {
  border-radius: 20px;
}

#button-lp {
  background-color: #F7F7FF !important;
  color: #003049 !important;
  border-color: #003049 !important;
}

#button-lp:hover {
  background-color: #003049 !important;
  color: #F7F7FF !important;
  border-color: #003049 !important;
}

.img-delivery-lp{
  margin:auto auto;
  border-radius:5px;
  padding:13px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

.img-delivery-lp img{
  width: 100%;
}

.subtitle-finish {
  text-align: center;
  margin-top: 100px;
}

.experience-lp img{
  border-radius: 300px;
  margin-left: 15px !important;
}

.some-experience {
  color: #003049;
  text-align: center;
  margin-bottom: 50px;
}

.input-error{
  border: 2px solid red;
}

.nav-item {
  color: black !important;
}

footer {
  background-color: #003049;
}

.logo-end {
  margin-top: 0;
}

.text-footer {
  text-decoration: none !important;
  color: #F7F7FF !important;
  cursor: pointer;
}

.text-footer:hover {
  text-decoration: underline !important;
}

@media all and (min-width: 200px) and (max-width: 700px) {
  .img-delivery-lp img-comfortable-lp{
    margin:auto auto;
    border-radius:5px;
    padding:13px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: 40px !important;
  }

  .logo-end {
    margin-top: 20%;
  }
  .logo-foot {
    width: 75%;
  }

  #nav-lp {
    z-index: 1 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  section {
    margin-top: 0 !important;
  }
}

@media all and (min-width: 701px) and (max-width: 1200px) {
  /*.nav-queries {
    display: none !important;
  }*/

  .navbar navbar-expand-lg navbar-light bg-light {
    display: flex !important;
  }
}
