/*.menu-header {
  padding: 10px 10px;
  float: left;
}

nav {
  float: right,
}

nav ul li button{
  display: inline-block;
  padding: 15px 25px;
} */

.menu-header a {
  margin-left: 80px;
  text-decoration: none;
  color: black;
}

span button{
  margin-right: auto !important;
}

.hover-button-login {
  color: #003049 !important;
  background-color: #F7F7FF !important;
  border-color: #003049 !important;
}

.hover-button-login:hover {
  color: #F7F7FF !important;
  background-color: #003049 !important;
  border-color: #003049 !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans, sans-serif;
}

.bg-light{
  background-color: #F7F7FF !important;
}

#inicio {
  display: inline-block;
  width: 100%;
  padding: 25px 80px;
  position: relative;
}

.first-text-lp {
  margin-top: 0;
}

.title {
  color: #003049 !important;
  margin-top: 25vh !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center;
}

.subtitle {
  color: #D62828 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center;
}

fa-icon {
  margin: 15px auto;
  font-size: 50px;
  color: #003049;
}

.card {
  background-color: #EAE2B7;
  border-radius: 20px;
  width: 31%;
  height: 280px;
  font-size: 1.2rem;
}

.text-card {
  color: #003049;
  text-align: center;
}

section img {
  border-radius: 20px;
}

.img-delivery-lp{
  margin:auto auto;
  border-radius:5px;
  padding:13px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

.img-delivery-lp img{
  width: 100%;
}

.subtitle-finish {
  text-align: center;
  margin-top: 100px;
}

/*.img-comfortable-lp {
  margin: auto auto;
  border-radius:5px;
  border: 1px solid #999;
  padding:13px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

.img-comfortable-lp img {
  width: 100%;
}*/

.experience-lp img{
  border-radius: 300px;
  margin-left: 15px !important;
}

.some-experience {
  color: #003049;
  text-align: center;
  margin-bottom: 100px;
}

.input-error{
  border: 2px solid red;
}

.nav-item {
  color: black !important;
}

footer {
  background-color: #003049;
}

.text-footer {
  text-decoration: none !important;
  color: #F7F7FF !important;
  cursor: pointer;
}

.text-footer:hover {
  text-decoration: underline !important;
}

@media all and (min-width: 500px) and (max-width: 1000px) {
  .img-delivery-lp img-comfortable-lp{
    margin:auto auto;
    border-radius:5px;
    padding:13px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: 40px !important;
  }

  #nav-lp {
    z-index: 1 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  section {
    margin-top: 0 !important;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .nav-queries {
    display: none !important;
  }

  .navbar navbar-expand-lg navbar-light bg-light {
    display: flex !important;
  }

  /*#navbarSupportedContent {
    display: flex !important;
    position: absolute !important;
    transform: translatex(-50) !important;
    justify-content: center !important;
    margin-top: 0px !important;
    margin-left: 80px !important;
  }

 .navbar-nav {
   text-align: center !important;
 }

 .nav-item {
   display: inline-block !important;
 }*/
}
