<!--<header id="inicio">
  <div class="menu-header">
    <img src="../../../assets/img/landing-page/AhíTeVoy-logo1-removebg-preview.png" alt="logo AhíTeVoy">
  </div>
  <nav>
    <ul>
      <li><a href="#repartidores">REPARTIDORES</a></li>
      <li><a href="#contáctanos">CONTÁCTANOS</a></li>
      <li><a href="#acerca-de">ACERCA DE</a></li>
      <li><a href="#ayuda">AYUDA</a></li>
    </ul>

      <button type="button" class="btn btn-outline-primary hover-button" style="margin-right: auto !important;">Iniciar Sesión</button>

  </nav>
</header>-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="nav-item" href="#"><img src="../../../assets/img/landing-page/AhíTeVoy-logo1 (1).png" width="50%"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Repartidores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Registrarse</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Ayuda</a>
        </li>
      </ul>
      <button class="btn btn-outline-primary hover-button-login">Iniciar Sesión</button>
    </div>
  </div>
</nav>

<div class="container">
  <section class="row mt-5">
    <div class="col-xl-6 col-md-6 col-sm-6">
      <h1 class="title my-5 m-auto">
        !La mejor experiencia<br> en delivery!
      </h1>
      <p class="subtitle my-5 m-auto">
        De manera fácil y segura, llevamos tus<br> encargos hasta la puerta de tu casa
      </p>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-6 my-5 img-delivery-lp">
      <img src="../../../assets/img/landing-page/delivery-lp.png">
    </div>
  </section>

  <section class="row mt-5">
    <h1 class="title">
      Tenemos asombrosos servicios
    </h1>
    <p class="subtitle">
      Una amplia gama de empresas de distintos rubros que ofrecen productos a tu conveniencia
    </p>
    <div class="col-xl-4 col-md-4 col-sm-4">
      <img src="../../../assets/img/landing-page/carrito-compras.jpg" width="100%">
    </div>
    <div class="col-xl-4 col-md-4 col-sm-4">
      <img src="../../../assets/img/landing-page/movil.jpg" width="100%">
    </div>
    <div class="col-xl-4 col-md-4 col-sm-4">
      <img src="../../../assets/img/landing-page/delivery-mask.jpg" width="100%">
    </div>
  </section>

  <section class="row">
    <h1 class="title mb-4">Conoce el trabajo que realizamos</h1>
    <div class="card col-xl-4 col-md-4 col-sm-12 col-xs-12 mb-3 mx-2">
      <fa-icon [icon]="faShipingFast"></fa-icon>
      <h3 class="text-card">Todo en uno</h3>
      <p class="text-card">Nuestros motoristas toman la información de tus pedidos y ellos se encargan del resto.</p>
    </div>
    <div class="card col-xl-4 col-md-4 col-sm-12 col-xs-12 mb-3 mx-2">
      <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
      <h3 class="text-card">Ubicación</h3>
      <p class="text-card">Puedes elegir el destino de tus encargos. ¡Te evitamos contratiempos!.</p>
    </div>
    <div class="card col-xl-4 col-md-4 col-sm-12 col-xs-12 mb-3 mx-2">
      <fa-icon [icon]="faClipboardList"></fa-icon>
      <h3 class="text-card">Pedidos</h3>
      <p class="text-card">Los gestionamos de forma inteligente para que nuestros repartidores te brinden el mejor servicio.</p>
    </div>
    <div class="card col-xl-4 col-md-4 col-sm-12 col-xs-12 mb-3 mx-2">
      <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
      <h3 class="text-card">Pagos en línea</h3>
      <p class="text-card">Realiza tus pagos en línea de forma rápida y segura. Tus datos son confidenciales.</p>
    </div>
    <div class="card col-xl-4 col-md-4 col-sm-12 col-xs-12 mb-3 mx-2">
      <fa-icon [icon]="faHandshake"></fa-icon>
      <h3 class="text-card">Socios destacados</h3>
      <p class="text-card">Un catálogo de empresas de tu preferencia están a tu disposición con un solo click.</p>
    </div>
    <div class="card col-xl-4 col-md-4 col-sm-12 col-xs-12 mb-3 mx-2">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
      <h3 class="text-card">Compras</h3>
      <p class="text-card">Llena tu carrito de compras con la cantidad de productos que desees en cualquier momento.</p>
    </div>
  </section>

  <section>
    <h1 class="title mb-5">
      Algunas experiencias
    </h1>
    <div class="row">
      <div class="col-xl-4 col-md-4 col-sm-12 experience-lp">
        <img src="../../../assets/img/landing-page/customer-experience.jpg" class="mb-4" width="90%">
        <p class="some-experience">
          <i>
            "Una experiencia agradable, sobre todo porque puedo obtener los diferentes productos que necesito de mis lugares de conveniencia
            en cualquier momento y lugar."
          </i>
        </p>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12 experience-lp">
        <img src="../../../assets/img/landing-page/student-home.jpg" class="mb-4" width="90%">
        <p class="some-experience">
          <i>
            "¡Me encanta!, puedo puedo comprar y realizar pagos de manera confiable, eso me ayuda a ahorrar tiempo y dedicarme
            más a mis estudios. Puedo estar más tiempo en casa."
          </i>
        </p>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12 experience-lp">
        <img src="../../../assets/img/landing-page/delivery-experience.jpg" class="mb-4" width="90%">
        <p class="some-experience">
          <i>
            "Encontré la oportunidad de laborar de una forma más básica e inteligente. Puedo equilibrar la interacción con los clientes,
            tomando encargos desde cualquier y enfocarme en mi trabajo."
          </i>
        </p>
      </div>
    </div>
  </section>
  <section class="mb-4">
    <div class="row mb-4">
      <h1 class="title">
        Forma parte de nuestro equipo
      </h1>
      <div class="col-xl-6 col-md-6 col-sm-6 img-comfotable-lp">
        <img src="../../../assets/img/landing-page/comfortable.png">
      </div>
      <div class="col-xl-6 col-md-6 col-sm-6">
        <p class="subtitle-finish" style="color: #D62828 !important;">
          Únete a nuestra comunidad hoy mismo para disfrutar de los beneficios y oportunidades de crecer
          que nuestros socios y equipo de trabajo te brindarán.
        </p>
      </div>
    </div>
  </section>

</div>
