html, body {
    width: 100% !important;
    height: 100% !important;
}

#map-mapbox {
    width: 80vw;
    height: 55vh;
    background-color: #f5f6f7;
}

tbody > tr:hover {
    background-color: #FCBF49 !important;
}

.bg-light {
    background-color: #F5F6F7 !important;
}

.btn-primary {
    background-color: #003049 !important;
    border: 1px solid #003049 !important;
}

.error-message {
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-duration: 1s;
    display: none;
    color: red;
    opacity: 0%;
    padding: 0;
    margin: 0;
}

.input-error {
    border-color: red !important;
}